In [1]:
import pandas as pd

현재 위치한 디렉토리명 (cd 명령어로 위치를 이동하지 않는 이상 안 바뀜)

In [3]:
!pwd

/content

In [6]:
!ls -l ./auto-mpg.csv

-rw-r--r-- 1 root root 21913 Jul  5 01:19 ./auto-mpg.csv

In [9]:
df = pd.read_csv('./auto-mpg.csv', header = None)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

df의 통계보기(숫자형만) 문자에 대한 통계는 나오지 않는다.

In [11]:
df.describe()

                0           1           2  ...           5           6           7
count  398.000000  398.000000  398.000000  ...  398.000000  398.000000  398.000000
mean    23.514573    5.454774  193.425879  ...   15.568090   76.010050    1.572864
std      7.815984    1.701004  104.269838  ...    2.757689    3.697627    0.802055
min      9.000000    3.000000   68.000000  ...    8.000000   70.000000    1.000000
25%     17.500000    4.000000  104.250000  ...   13.825000   73.000000    1.000000
50%     23.000000    4.000000  148.500000  ...   15.500000   76.000000    1.000000
75%     29.000000    8.000000  262.000000  ...   17.175000   79.000000    2.000000
max     46.600000    8.000000  455.000000  ...   24.800000   82.000000    3.000000

[8 rows x 7 columns]

3번 column 보기
1.   unique : 문자의 중복도
2.   Top    : 가장 많이 나온 문자
3.   freq   :

In [ ]:
df[3].describe()

In [ ]:
df[8].describe()

In [21]:
df[0].mean(), df[0].std(), df[0].count(), df[0].min(), df[0].max()

(23.514572864321615, 7.815984312565782, 398, 9.0, 46.6)