가설 : 택시 승객 수가 많을수록 운행시간이 길지 않을까?
    x : passenger_count (type : int64)
    y : trip_duration (type : int64)
    
모든 score가 0.0007 아래이므로 x와 y는 독립적이다.
택시 승객 수는 운행시간에 영향을 주지 않는다.

In [1]:
import sklearn

In [2]:
%load_ext autoreload

%autoreload 2

## 정보단계

In [3]:
import pandas as pd

In [4]:
pd_data = pd.read_csv('./train.csv')
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1458644 non-null  object
 1   vendor_id           1458644 non-null  int64
 2   pickup_datetime     1458644 non-null  object
 3   dropoff_datetime    1458644 non-null  object
 4   passenger_count     1458644 non-null  int64
 5   pickup_longitude    1458644 non-null  float64
 6   pickup_latitude     1458644 non-null  float64
 7   dropoff_longitude   1458644 non-null  float64
 8   dropoff_latitude    1458644 non-null  float64
 9   store_and_fwd_flag  1458644 non-null  object
 10  trip_duration       1458644 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB

문제 & 답 컬럼 선택

In [5]:
x = pd_data[['passenger_count']]
y = pd_data[['trip_duration']]
x.shape, y.shape

((1458644, 1), (1458644, 1))

## 교육단계

데이터 split

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((1093983, 1), (364661, 1), (1093983, 1), (364661, 1))

Linear Regression

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
lr = LinearRegression()

In [10]:
lr.fit(X_train, Y_train)

LinearRegression()

model 점수 (total, train, test)

In [11]:
lr.score(x,y)

7.16294769987913e-05

In [12]:
lr.score(X_train, Y_train)

5.721606836595061e-05

In [13]:
lr.score(X_test, Y_test)

0.00020845135097524725

# 서비스 단계

pickle 저장, 불러오기

In [14]:
import pickle

In [15]:
pickle.dump(lr, open('./saves/newyork_taxi.pkl','wb'))

In [16]:
Y_predict = lr.predict(X_train)
Y_predict.shape

(1093983, 1)

In [17]:
Y_result = Y_train - Y_predict
Y_result

         trip_duration
181570     -733.279290
483622     -551.160072
1274287    -269.279290
50264      -602.160072
452041      851.839928
...                ...
299781      794.839928
906143      141.839928
1357753    -537.160072
722253      -39.160072
89260      -433.279290

[1093983 rows x 1 columns]